bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.DS_Store
BlazorApp1.sln.DotSettings.user
BlazorApp1.Endpoint/appsettings.Development.json
BlazorApp1/appsettings.Development.json
BlazorApp1.Endpoint/appsettings.Development.json
BlazorApp1.Endpoint/appsettings.Development.json
