@page "/"

<PageTitle>Home</PageTitle>

<h1>Feladat</h1>
AddedForTesting PART2 Illene működnie sdoifgőadrhjsdrpifjhpújadfhbjafd
Feltételezések a feladat során:
Booking dátuma: lehet ugyanazon a napon kiadni/visszavenni, VAGY követekező napon. Tehát pl 2025.04.01. én bevéve, az kiadható 01 és 02 re. Minden más invalid a folyamatossági feltétel miatt
API-t nem írtam rá, nem tudtam hogy szükséges-e azon keresztül komminukálni, vagy elég ilyen módon elérni a Logicot frontendről.